head
    title ruBroker
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/Thirdparty/json2.js')
    script(type='text/javascript', src='/javascripts/Thirdparty/jquery-1.7.1.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js')
    script(type='text/javascript', src='/javascripts/Thirdparty/amplify.store.min.js')
    script(type='text/javascript', src='/javascripts/Thirdparty/knockout-2.0.0.debug.js')
    script(type='text/javascript', src='http://localhost:3000/nowjs/now.js')
