h1 ru
p Welcome to ruBroker, a stock based game

h3 Stocks

ul(data-bind='foreach: stocks, visible: stocks().length > 0')
  li
    | Name:
    span(data-bind='text: name')
    |  Price:
    span(data-bind='text: price')

| You have
b(data-bind='text: ownedStocks().length')  
|  stock(s) and
b(data-bind='text: credit')
|  credit
span(data-bind='visible: ownedStocks().length == 0')  - it's time to start buying!
ul(data-bind='foreach: stocks, visible: stocks().length > 0')
  li
    | Name:
    span(data-bind='text: name')
    |  Price:
    span(data-bind='text: price')

#messages
  input#text-input(type='text')
  input#send-button(type='button', value='Send')

script(type='text/javascript', src='/javascripts/rubroker.js')