body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#txt {
    border:none;
    font-family:verdana;
    font-size:16pt;
    font-weight:bold;
    border-right-color:#FFFFFF
}

.down {
    color: red;
}
.up {
    color: green;
}